{% extends "layout.jinja2" %}

{% block scripts %}
	{% if config.get('USE_COFFEE_DIRECTLY') %}
		<script type="text/coffeescript" src={{ url_for('serve_coffee', filename='index.coffee') }}>
		</script>
	{% else %}
		<script type="text/javascript" src={{ url_for('static', filename='index.js') }}></script>
	{% endif %}
{% endblock %}

{% block content %}
	<div id="lookup_area">
		<form id="lookup_form" action={{ url_for('lookup')|tojson }} method="post">
			<input type="text" id="query_entry" name="queries">
			<input type="submit" value="go">
		</form>

		<select class="lang_selector" id="langfrom_selector" 
		name="lang_from" form="lookup_form">
		{% for code, name in langs_from %}
			<option value={{ code|tojson }}>{{ name }}</option>
			}
		{% endfor %}
		</select>

		<select class="lang_selector" id="langto_selector" name="lang_to"
		form="lookup_form"></select>

		<div id="results"></div>
	</div>
{% endblock %}
